<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Todo App by Abhay Bhadoriya</h1>
  </header>

  <main>
    <% if (typeof messages !== 'undefined') { %>
      <% if (messages.error) { %>
        <div class="flash-message flash-error">
          <%= messages.error %>
        </div>
      <% } %>
      <% if (messages.success) { %>
        <div class="flash-message flash-success">
          <%= messages.success %>
        </div>
      <% } %>
    <% } %>
    <%- body %>
  </main>

  <footer>
    <p>Made with ❤️ using Node.js + Express</p>
    <p>abhaybhadoriya.555@gmail.com</p>

  </footer>
</body>
</html>
